.MyButton {
  --width: auto;
  --height: 38px;
  --color: #fbfbff;
  --background-color: #1a1a1a;
  --background-color--hover: #151515;
  --border-color--hover: #646cff;

  border: 1px solid transparent;
  display: block;

  color: var(--color);
  background-color: var(--background-color);
  height: var(--height);
  width: var(--width);

  border-radius: 6px;
  padding-inline: 20px;

  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, color 0.2s;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  padding: 0.6em 1.2em;

  &:hover {
    background-color: var(--background-color--hover);
    border: 1px solid var(--border-color--hover);
  }

  &:focus {
    border-radius: 4px;
    outline: 1px solid var(--color);
  }
}